# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystems are summarized.

**Objectives:**
- List popular languages for Data Science.
- List popular libraries for Data Science.
- Show a table of Data Science Tools.
- Show examples of arithmetic expressions.

Some of the popular languages that Data Scientists use are:
1. Julia
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib 
2. Pandas
3. NumPy

| Data Science Tools |
| ------------------ |
| Hadoop |
| Spark |
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This is a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by dividing by 60.
200/60

3.3333333333333335

## Author
Mathew Dye